In [ ]:
import pandas as pd

df_init=pd.read_csv('/content/카드_init.csv')
df_init.info()
df_init

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106388 entries, 0 to 106387
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   YM           106388 non-null  int64
 1   JOIN_SN      106388 non-null  int64
 2   JOIN_SN_TYP  106388 non-null  int64
 3   SCTR_CD      106388 non-null  int64
 4   COM_SN       106388 non-null  int64
 5   IS_ME        106388 non-null  int64
 6   CD_USG_LMT   106388 non-null  int64
 7   CD_CA_LMT    106388 non-null  int64
 8   CD_USG_AMT   106388 non-null  int64
 9   CD_CA_AMT    106388 non-null  int64
 10  BTH_YR       106388 non-null  float64
 11  GENDER       106388 non-null  float64
 12  IS_KRN       106388 non-null  float64
 13  CD_OPN_CD_1  106388 non-null  float64
 14  CD_OPN_CD_2  106388 non-null  float64
 15  CD_OPN_DT    106388 non-null  float64
dtypes: float64(6), int64(10)
memory usage: 13.0 MB

,YM,JOIN_SN,JOIN_SN_TYP,SCTR_CD,COM_SN,IS_ME,CD_USG_LMT,CD_CA_LMT,CD_USG_AMT,CD_CA_AMT,BTH_YR,GENDER,IS_KRN,CD_OPN_CD_1,CD_OPN_CD_2,CD_OPN_DT
0,202001,299165,1,5,847762,0,16000,4800,600,0,1956.0,1.0,1.0,81.0,1.0,200001.0
1,202001,1912903,1,5,7727821,0,30000,17000,100,0,1965.0,2.0,1.0,81.0,1.0,201408.0
2,201807,689457,1,5,5531601,0,30000,9000,0,0,1952.0,1.0,1.0,81.0,1.0,201510.0
3,201911,1920419,1,5,8806279,0,30000,29000,10000,0,1968.0,1.0,1.0,81.0,1.0,200501.0
4,201810,1113249,1,5,2602876,0,27000,9600,0,0,1976.0,2.0,1.0,81.0,1.0,201806.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106383,201909,891867,1,5,8266700,0,30000,16000,560,0,1987.0,1.0,1.0,81.0,1.0,201512.0
106384,201806,810399,1,5,2184263,0,13000,4100,0,0,1957.0,1.0,1.0,81.0,1.0,200509.0
106385,201807,1904625,1,5,71143,0,27000,9500,470,0,1980.0,2.0,1.0,81.0,1.0,201606.0
106386,202003,1929498,1,5,9739723,0,30000,9800,130,0,1978.0,1.0,1.0,81.0,1.0,200008.0
106387,201908,321744,1,5,5750016,0,6100,2100,640,0,1988.0,1.0,1.0,81.0,1.0,201808.0

In [ ]:
user_bth=1964 # 유저 년생 입력
user_bth_str=str(user_bth)
user_bth_list=list(user_bth_str)
user_bth_list.pop()
user_bth_list.append('0')
user_bth_str = "".join(user_bth_list)
user_bth=int(user_bth_str)
print(user_bth)

cd_usg_LMT='2,500,000' # 유저 신용판매한도금액 입력
cd_usg_LMT_list=list(cd_usg_LMT)
while ',' in cd_usg_LMT_list:
    cd_usg_LMT_list.remove(',')
cd_usg_LMT_str = "".join(cd_usg_LMT_list)
cd_usg_LMT=int(cd_usg_LMT_str)
cd_usg_LMT=int(cd_usg_LMT/1000)
print(cd_usg_LMT)

cd_ca_LMT='1,000,000' # 유저 현금서비스한도금액 입력
cd_ca_LMT_list=list(cd_ca_LMT)
while ',' in cd_ca_LMT_list:
    cd_ca_LMT_list.remove(',')
cd_ca_LMT_str = "".join(cd_ca_LMT_list)
cd_ca_LMT=int(cd_ca_LMT_str)
cd_ca_LMT=int(cd_ca_LMT/1000)
print(cd_ca_LMT)

1960
2500
1000

In [ ]:
# 조건에 따른 축출
df_new = df_init[(df_init['BTH_YR']<user_bth+10) &(df_init['BTH_YR']>=user_bth)&  # 1997년 => 1990년대
           (df_init['CD_USG_LMT']<=cd_usg_LMT+(cd_usg_LMT*0.2)) & (df_init['CD_USG_LMT']>cd_usg_LMT-(cd_usg_LMT*0.2))&  
           (df_init['CD_CA_LMT']<=cd_ca_LMT+(cd_ca_LMT*0.2)) & (df_init['CD_CA_LMT']>cd_ca_LMT-(cd_ca_LMT*0.2))] 

df_new=df_new.reset_index() 
df_new

,index,YM,JOIN_SN,JOIN_SN_TYP,SCTR_CD,COM_SN,IS_ME,CD_USG_LMT,CD_CA_LMT,CD_USG_AMT,CD_CA_AMT,BTH_YR,GENDER,IS_KRN,CD_OPN_CD_1,CD_OPN_CD_2,CD_OPN_DT
0,159,202003,170562,1,5,5590857,0,3000,1000,180,0,1965.0,2.0,1.0,81.0,1.0,201712.0
1,466,201808,1461442,1,5,6987835,0,2200,1000,110,0,1967.0,1.0,1.0,81.0,1.0,201711.0
2,1121,201911,1826505,1,5,290154,0,2600,1000,0,0,1964.0,2.0,1.0,81.0,1.0,200104.0
3,1184,201907,1117425,1,1,6628502,0,2700,1000,0,0,1968.0,2.0,1.0,81.0,1.0,201712.0
4,1437,201912,1818185,1,1,4024694,0,2700,1000,0,0,1967.0,2.0,1.0,81.0,1.0,201703.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,105142,201912,1573642,1,5,2446446,0,3000,1000,0,0,1960.0,1.0,1.0,81.0,1.0,201802.0
310,105229,201911,1220085,1,5,6992472,0,2300,1000,100,0,1960.0,1.0,1.0,81.0,1.0,201809.0
311,105593,201908,1826505,1,1,7510043,0,2600,1000,220,0,1964.0,2.0,1.0,81.0,1.0,201503.0
312,105621,201905,1826505,1,5,290154,0,2600,1000,0,0,1964.0,2.0,1.0,81.0,1.0,200104.0
313,106358,201911,1818185,1,1,4024694,0,2700,1000,100,0,1967.0,2.0,1.0,81.0,1.0,201703.0

In [ ]:
len(df_new)

314

In [ ]:
SCTR_CD_list=list(df_new['SCTR_CD'])
CD_OPN_CD_1_list=list(df_new['CD_OPN_CD_1'])
CD_OPN_CD_2_list=list(df_new['CD_OPN_CD_2'])

In [ ]:
df_ready=[]
for i in range(0,len(df_new),1):
  df_ready.append(str(SCTR_CD_list[i])+'/'+str(CD_OPN_CD_1_list[i])+'/'+str(CD_OPN_CD_2_list[i]))
df_ready

['5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0',
 '5/81.0/1.0',
 '1/81.0/1.0']

In [ ]:
df_ready3=pd.DataFrame(data=df_ready,columns=['total'])
df_ready3

          total
0    5/81.0/1.0
1    5/81.0/1.0
2    5/81.0/1.0
3    1/81.0/1.0
4    1/81.0/1.0
..          ...
309  5/81.0/1.0
310  5/81.0/1.0
311  1/81.0/1.0
312  5/81.0/1.0
313  1/81.0/1.0

[314 rows x 1 columns]

In [ ]:
df_ready4=df_new[['JOIN_SN']]
df_ready4

     JOIN_SN
0     170562
1    1461442
2    1826505
3    1117425
4    1818185
..       ...
309  1573642
310  1220085
311  1826505
312  1826505
313  1818185

[314 rows x 1 columns]

In [ ]:
df=pd.concat([df_ready4,df_ready3],axis=1)
df

     JOIN_SN       total
0     170562  5/81.0/1.0
1    1461442  5/81.0/1.0
2    1826505  5/81.0/1.0
3    1117425  1/81.0/1.0
4    1818185  1/81.0/1.0
..       ...         ...
309  1573642  5/81.0/1.0
310  1220085  5/81.0/1.0
311  1826505  1/81.0/1.0
312  1826505  5/81.0/1.0
313  1818185  1/81.0/1.0

[314 rows x 2 columns]

In [ ]:
df["JOIN_SN"]=df["JOIN_SN"].apply(str)
join_sn_df=list(df['JOIN_SN'])

join_sn_df_result=[]
for value in join_sn_df:
  if value not in join_sn_df_result:
    join_sn_df_result.append(value)

df["JOIN_SN"]=df["JOIN_SN"].apply(str)


df_count={}
for i in range(0,len(join_sn_df_result),1):
  df_yr=df[df['JOIN_SN'].str.contains(str(join_sn_df_result[i]), na=False)]
  df_count[join_sn_df_result[i]]=df_yr['total'].value_counts().head(5)

df_count2={}
for i in range(0,len(join_sn_df_result),1):  
  new_list=[]
  for data in df_count[join_sn_df_result[i]].index:
    new_list.append(data)
  df_count2[join_sn_df_result[i]]=new_list

total=list(df['total'])

total_result=[]
for value in total:
  if value not in total_result:
   total_result.append(value)

df_count3={}
for key in df_count2.keys():
  df_count2_score={}
  count=5
  for j in range(0,len(df_count2[key]),1):

    df_count2_score[df_count2[key][j]]=count
    count=count-1
  df_count3[key]=df_count2_score


result_list_2=[]
for i in range(0,len(total_result),1): 
  result_list_1=[]
  for j in range(0,len(join_sn_df_result),1):
    #print("1.",total_result[i],end="")
    #print("=>",join_sn_df_result[j], ":",df_count3[join_sn_df_result[j]],end="")
    if total_result[i] in  df_count3[join_sn_df_result[j]] : 
      #print("=>",df_count3[join_sn_df_result[j]][total_result[i]],) 
      result_list_1.append(df_count3[join_sn_df_result[j]][total_result[i]])
      #print("=>",result_list_1)
    else:
      #print("=>","0")
      result_list_1.append(0)
      #print("=>",result_list_1)
  result_list_2.append(result_list_1)


import numpy as np
result_array=np.array(result_list_2)
result_array

result_array_T=result_array.T
result_array_T

final_df=pd.DataFrame(result_array_T,columns=total_result,index=join_sn_df_result)
final_df

         5/81.0/1.0  1/81.0/1.0
170562            5           0
1461442           5           0
1826505           5           4
1117425           4           5
1818185           0           5
921229            5           0
1115717           5           0
1762386           5           4
1220085           5           0
1573642           5           4
1828157           5           4
1145687           5           0

In [ ]:
#유저에게 상품을 추천하기 위해 행 추가
user_input=[]
for i in range(0,len(final_df.columns),1):
  user_input.append(0)


new_row = pd.DataFrame([user_input], columns = final_df.columns)

new_final_df = pd.concat([final_df.iloc[:0], new_row, final_df.iloc[0:]], ignore_index = True)

new_final_df

    5/81.0/1.0  1/81.0/1.0
0            0           0
1            5           0
2            5           0
3            5           4
4            4           5
5            0           5
6            5           0
7            5           0
8            5           4
9            5           0
10           5           4
11           5           4
12           5           0

In [ ]:
SGD_array=np.array(new_final_df)

In [ ]:
import numpy as np
from tqdm import tqdm_notebook as tqdm

import numpy as np

# Base code : https://yamalab.tistory.com/92
class MatrixFactorization():
    def __init__(self, R, k, learning_rate, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """

        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._learning_rate = learning_rate
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        """
        training Matrix Factorization : Update matrix latent weight and bias

        참고: self._b에 대한 설명
        - global bias: input R에서 평가가 매겨진 rating의 평균값을 global bias로 사용
        - 정규화 기능. 최종 rating에 음수가 들어가는 것 대신 latent feature에 음수가 포함되도록 해줌.

        :return: training_process
        """

        # init latent features
        self._P = np.random.normal(size=(self._num_users, self._k))
        self._Q = np.random.normal(size=(self._num_items, self._k))

        # init biases
        self._b_P = np.zeros(self._num_users)
        self._b_Q = np.zeros(self._num_items)
        self._b = np.mean(self._R[np.where(self._R != 0)])

        # train while epochs
        self._training_process = []
        for epoch in range(self._epochs):
            # rating이 존재하는 index를 기준으로 training
            xi, yi = self._R.nonzero()
            for i, j in zip(xi, yi):
                self.gradient_descent(i, j, self._R[i, j])
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """

        # xi, yi: R[xi, yi]는 nonzero인 value를 의미한다.
        # 참고: http://codepractice.tistory.com/90
        xi, yi = self._R.nonzero()
        # predicted = self.get_complete_matrix()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - self.get_prediction(x, y), 2)
        return np.sqrt(cost/len(xi))


    def gradient(self, error, i, j):
        """
        gradient of latent feature for GD

        :param error: rating - prediction error
        :param i: user index
        :param j: item index
        :return: gradient of latent feature tuple
        """

        dp = (error * self._Q[j, :]) - (self._reg_param * self._P[i, :])
        dq = (error * self._P[i, :]) - (self._reg_param * self._Q[j, :])
        return dp, dq


    def gradient_descent(self, i, j, rating):
        """
        graident descent function

        :param i: user index of matrix
        :param j: item index of matrix
        :param rating: rating of (i,j)
        """

        # get error
        prediction = self.get_prediction(i, j)
        error = rating - prediction

        # update biases
        self._b_P[i] += self._learning_rate * (error - self._reg_param * self._b_P[i])
        self._b_Q[j] += self._learning_rate * (error - self._reg_param * self._b_Q[j])

        # update latent feature
        dp, dq = self.gradient(error, i, j)
        self._P[i, :] += self._learning_rate * dp
        self._Q[j, :] += self._learning_rate * dq


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._b + self._b_P[i] + self._b_Q[j] + self._P[i, :].dot(self._Q[j, :].T)


    def get_complete_matrix(self):
        """
        computer complete matrix PXQ + P.bias + Q.bias + global bias

        - PXQ 행렬에 b_P[:, np.newaxis]를 더하는 것은 각 열마다 bias를 더해주는 것
        - b_Q[np.newaxis:, ]를 더하는 것은 각 행마다 bias를 더해주는 것
        - b를 더하는 것은 각 element마다 bias를 더해주는 것

        - newaxis: 차원을 추가해줌. 1차원인 Latent들로 2차원의 R에 행/열 단위 연산을 해주기위해 차원을 추가하는 것.

        :return: complete matrix R^
        """
        return self._b + self._b_P[:, np.newaxis] + self._b_Q[np.newaxis:, ] + self._P.dot(self._Q.T)



# run example
if __name__ == "__main__":
    # rating matrix - User X Item : (7 X 5)
    R = SGD_array=np.array(new_final_df)

In [ ]:
%%time
factorizer = MatrixFactorization(R, k=20, learning_rate=0.01, reg_param=0.01, epochs=350, verbose=True)
factorizer.fit()

Iteration: 10 ; cost = 0.1584
Iteration: 20 ; cost = 0.0210
Iteration: 30 ; cost = 0.0033
Iteration: 40 ; cost = 0.0016
Iteration: 50 ; cost = 0.0017
Iteration: 60 ; cost = 0.0017
Iteration: 70 ; cost = 0.0018
Iteration: 80 ; cost = 0.0018
Iteration: 90 ; cost = 0.0018
Iteration: 100 ; cost = 0.0018
Iteration: 110 ; cost = 0.0019
Iteration: 120 ; cost = 0.0019
Iteration: 130 ; cost = 0.0019
Iteration: 140 ; cost = 0.0019
Iteration: 150 ; cost = 0.0020
Iteration: 160 ; cost = 0.0020
Iteration: 170 ; cost = 0.0020
Iteration: 180 ; cost = 0.0020
Iteration: 190 ; cost = 0.0021
Iteration: 200 ; cost = 0.0021
Iteration: 210 ; cost = 0.0021
Iteration: 220 ; cost = 0.0022
Iteration: 230 ; cost = 0.0022
Iteration: 240 ; cost = 0.0022
Iteration: 250 ; cost = 0.0022
Iteration: 260 ; cost = 0.0023
Iteration: 270 ; cost = 0.0023
Iteration: 280 ; cost = 0.0023
Iteration: 290 ; cost = 0.0023
Iteration: 300 ; cost = 0.0024
Iteration: 310 ; cost = 0.0024
Iteration: 320 ; cost = 0.0024
Iteration: 330 ; cost = 0.0025
Iteration: 340 ; cost = 0.0025
Iteration: 350 ; cost = 0.0025
CPU times: user 370 ms, sys: 87.9 ms, total: 458 ms
Wall time: 368 ms

In [ ]:
factorizer.get_complete_matrix()

array([[ 8.68634224,  4.79752304],
       [ 4.9993062 ,  5.92905265],
       [ 4.99967438,  2.55638841],
       [ 4.99803755,  4.00153424],
       [ 4.0066014 ,  4.99844646],
       [ 2.42496111,  4.99799034],
       [ 5.00002912,  6.5194574 ],
       [ 4.99703326, 11.3734811 ],
       [ 4.99632971,  4.00358589],
       [ 5.00132907,  8.72166411],
       [ 4.99830458,  4.0016903 ],
       [ 4.99851286,  4.0023209 ],
       [ 4.99898591,  5.43328705]])

In [ ]:
good_array=factorizer.get_complete_matrix()

In [ ]:
good_list=list(good_array[0])
good_list
good_list2=good_list

In [ ]:
good_list2.sort(reverse=True)
print(good_list2)

good_list2=good_list2[0:5]

good_list3=[]
for i in range(0,len(good_list2),1):
  good_list3.append(good_list.index(good_list2[i]))
good_list3

[8.686342241134241, 4.797523036665939]

[0, 1]

In [ ]:
final_good=[]
for i in range(0,len(good_list3),1):
  final_good.append(total_result[good_list3[i]])
final_good

['5/81.0/1.0', '1/81.0/1.0']

In [ ]:
df_new

,index,YM,JOIN_SN,JOIN_SN_TYP,SCTR_CD,COM_SN,IS_ME,CD_USG_LMT,CD_CA_LMT,CD_USG_AMT,CD_CA_AMT,BTH_YR,GENDER,IS_KRN,CD_OPN_CD_1,CD_OPN_CD_2,CD_OPN_DT
0,159,202003,170562,1,5,5590857,0,3000,1000,180,0,1965.0,2.0,1.0,81.0,1.0,201712.0
1,466,201808,1461442,1,5,6987835,0,2200,1000,110,0,1967.0,1.0,1.0,81.0,1.0,201711.0
2,1121,201911,1826505,1,5,290154,0,2600,1000,0,0,1964.0,2.0,1.0,81.0,1.0,200104.0
3,1184,201907,1117425,1,1,6628502,0,2700,1000,0,0,1968.0,2.0,1.0,81.0,1.0,201712.0
4,1437,201912,1818185,1,1,4024694,0,2700,1000,0,0,1967.0,2.0,1.0,81.0,1.0,201703.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,105142,201912,1573642,1,5,2446446,0,3000,1000,0,0,1960.0,1.0,1.0,81.0,1.0,201802.0
310,105229,201911,1220085,1,5,6992472,0,2300,1000,100,0,1960.0,1.0,1.0,81.0,1.0,201809.0
311,105593,201908,1826505,1,1,7510043,0,2600,1000,220,0,1964.0,2.0,1.0,81.0,1.0,201503.0
312,105621,201905,1826505,1,5,290154,0,2600,1000,0,0,1964.0,2.0,1.0,81.0,1.0,200104.0
313,106358,201911,1818185,1,1,4024694,0,2700,1000,100,0,1967.0,2.0,1.0,81.0,1.0,201703.0

In [ ]:
final_result=[]
for i in range(0,len(final_good),1):
  final_result.append(final_good[i].split('/'))
final_result

[['5', '81.0', '1.0'], ['1', '81.0', '1.0']]

In [ ]:
df_output=[]
for i in range(0,len(final_result),1):
  df_output.append(df_new[(df_new['SCTR_CD']==int(final_result[i][0]))&
           (df_new['CD_OPN_CD_1']==float(final_result[i][1]))&
           (df_new['CD_OPN_CD_2']==float(final_result[i][2]))])

df_output3=[]
for i in range(0,len(final_result),1):
  df_output2=df_output[i][['COM_SN','SCTR_CD','CD_OPN_CD_1','CD_OPN_CD_2']]
  df_output3.append(df_output2.values.tolist())

In [ ]:
df_output4=[]
for i in range(0,len(df_output3),1):
  my_list = df_output3[i]
  new_df_output3_list = []
  for v in my_list:
      if v not in new_df_output3_list:
          new_df_output3_list.append(v)
  df_output4.append(new_df_output3_list)

In [ ]:
df_output4

[[[5590857.0, 5.0, 81.0, 1.0],
  [6987835.0, 5.0, 81.0, 1.0],
  [290154.0, 5.0, 81.0, 1.0],
  [9658259.0, 5.0, 81.0, 1.0],
  [193442.0, 5.0, 81.0, 1.0],
  [8448818.0, 5.0, 81.0, 1.0],
  [6992472.0, 5.0, 81.0, 1.0],
  [2446446.0, 5.0, 81.0, 1.0],
  [6800643.0, 5.0, 81.0, 1.0],
  [2068285.0, 5.0, 81.0, 1.0],
  [144565.0, 5.0, 81.0, 1.0],
  [905376.0, 5.0, 81.0, 1.0],
  [1842014.0, 5.0, 81.0, 1.0],
  [563650.0, 5.0, 81.0, 1.0],
  [4484490.0, 5.0, 81.0, 1.0],
  [9852693.0, 5.0, 81.0, 1.0],
  [1836286.0, 5.0, 81.0, 1.0],
  [4990898.0, 5.0, 81.0, 1.0],
  [5137615.0, 5.0, 81.0, 1.0]],
 [[6628502.0, 1.0, 81.0, 1.0],
  [4024694.0, 1.0, 81.0, 1.0],
  [1417681.0, 1.0, 81.0, 1.0],
  [7510043.0, 1.0, 81.0, 1.0],
  [8635348.0, 1.0, 81.0, 1.0],
  [7392839.0, 1.0, 81.0, 1.0]]]

In [ ]:
SCTR_CD_dic ={ 1 : '국내은행',
   2 : '외국은행',
   3 : '신용협동기구',
   5 : '신용카드사',
   6 : '손해보험사',
   8 : '생명보험사',
   10 : '투신사',
   12 : '기타',
   13 : '신기술사·창투사·벤쳐캐피탈',
   15 : '증권사·종금사',
   16 : '리스사',
   17 : '할부금융사',
   21 : '상호저축은행',
   24 : '대부업권'}

   
 
CD_USG_LMT_dic= { 81 : '신용카드', 83 : '신용체크카드'}
CD_CA_LMT_dic= {1 : '개인카드', 2 : '개인기업카드'}

In [ ]:
for i in range(0,len(df_output4),1):
  for j in range(0,len(df_output4[i]),1):
    df_output4[i][j][0]=int(df_output4[i][j][0])
    df_output4[i][j][1]=SCTR_CD_dic[df_output4[i][j][1]]
    df_output4[i][j][2]=CD_USG_LMT_dic[df_output4[i][j][2]]
    df_output4[i][j][3]=CD_CA_LMT_dic[df_output4[i][j][3]]

In [ ]:
df_output4

[[[5590857, '신용카드사', '신용카드', '개인카드'],
  [6987835, '신용카드사', '신용카드', '개인카드'],
  [290154, '신용카드사', '신용카드', '개인카드'],
  [9658259, '신용카드사', '신용카드', '개인카드'],
  [193442, '신용카드사', '신용카드', '개인카드'],
  [8448818, '신용카드사', '신용카드', '개인카드'],
  [6992472, '신용카드사', '신용카드', '개인카드'],
  [2446446, '신용카드사', '신용카드', '개인카드'],
  [6800643, '신용카드사', '신용카드', '개인카드'],
  [2068285, '신용카드사', '신용카드', '개인카드'],
  [144565, '신용카드사', '신용카드', '개인카드'],
  [905376, '신용카드사', '신용카드', '개인카드'],
  [1842014, '신용카드사', '신용카드', '개인카드'],
  [563650, '신용카드사', '신용카드', '개인카드'],
  [4484490, '신용카드사', '신용카드', '개인카드'],
  [9852693, '신용카드사', '신용카드', '개인카드'],
  [1836286, '신용카드사', '신용카드', '개인카드'],
  [4990898, '신용카드사', '신용카드', '개인카드'],
  [5137615, '신용카드사', '신용카드', '개인카드']],
 [[6628502, '국내은행', '신용카드', '개인카드'],
  [4024694, '국내은행', '신용카드', '개인카드'],
  [1417681, '국내은행', '신용카드', '개인카드'],
  [7510043, '국내은행', '신용카드', '개인카드'],
  [8635348, '국내은행', '신용카드', '개인카드'],
  [7392839, '국내은행', '신용카드', '개인카드']]]